body{
    background-color: rgb(49, 59, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#returnIndex a{
    color: rgb(233, 245, 206);
    font-weight: 600;
    text-decoration: none;
}
.text-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    background-color: rgb(26, 25, 51);
    border-radius: 10PX;
}
.text-container label{
    color: rgb(233, 245, 206);
}
.text-container textarea, .text-container input{
    background-color: rgb(196, 196, 194);
    border: none;
    border-radius: 5px;
    margin: 2px;
}
.text-container textarea{
    min-height: 120px;
  resize: vertical;
}