body{
    background-color: rgb(53, 53, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#returnIndex > a{
    color: beige;
    text-decoration: none;
}
.calculadora{
    background-color: black;
    max-width: 350px;    
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.calculadora #screen{
    width: 100%;
    min-height: 60px;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    text-align: right;
    padding-right: 10px;
    overflow: hidden;
}
.calculadora .teclado-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    width: 100%;
}
.calculadora #enterButton{
    height: 60px;
    width: 150px;
    border-radius: 20px;
    font-size: 30px;
    color: rgb(85, 30, 8);
    background-color: rgb(143, 139, 137);
    border: none;
    font-weight: 600;
}
.calculadora #enterButton:hover{
    color: rgb(143, 139, 137);
    background-color: rgb(85, 30, 8);
}
.calculadora .teclado{
    background-color: rgb(53, 53, 54);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ccc;
    margin: 5px;    
}
.calculadora .teclado:hover{
    background-color: #ccc;
    color: black;
}
#tecla4,#tecla8,#tecla12,#tecla16{
    background-color: rgb(202, 96, 54);
    color: black;
    font-weight: 500;
}
#tecla4:hover,#tecla8:hover,#tecla12:hover,#tecla16:hover{
    background-color: rgb(209, 163, 145);
}
#tecla13,#tecla15{
    background-color: rgb(49, 163, 74);
    color: black;
    font-weight: 500;
}
#tecla13:hover,#tecla15:hover{
    background-color: rgb(120, 167, 130);
}

