body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
}


#app{       
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}
#mainForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}
form h1, form input, form button{
    width: 100%;
}
form h1{
    margin-block-end: 0;
}
form input, form button{
    padding: 5px;
}
#submit{
    width: 120px;
    border-radius: 25px;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: flex;  
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    width: 100%;
}
li span{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}